html,
body {
  background-color: black;
  color: white;
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-family:'Roboto', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.center {
  font-size: 10vh;
  height: 80vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  color:white;
  background-color: black;
  border: 2px solid black;
  border-radius: 10px;
}

button:hover {
  background-color: rgb(55, 55, 255);
  color: black;
}
